::selection {
    @apply bg-green-200;
}
::-moz-selection {
    @apply bg-green-200;
}

.intro-text {
    width: 360px;
}

@screen sm {
    .intro-text {
        width: 490px;
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
}
